<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <!-- font awesome -->
  <script src="https://kit.fontawesome.com/50d9da7357.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/features.css">
</head>

<body>
  <main>

    <div class="container px-4 py-5" id="featured-3">
      <h2 class="pb-2 border-bottom">Columns with icons</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <img
              src="https://img.icons8.com/external-anggara-flat-anggara-putra/32/000000/external-privacy-ui-basic-anggara-flat-anggara-putra.png" />
          </div>
          <h2>Secure</h2>
          <p>Don't think feel free to share your secrets with us. Your security is our responsiblity. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui mollitia
            unde molestiae veritatis dolores libero facilis enim rem inventore quasi aliquam in at nostrum atque
            tempore, nemo vitae similique!</p>
        </div>

        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <img
              src="https://img.icons8.com/external-vitaliy-gorbachev-flat-vitaly-gorbachev/58/000000/external-anonymous-cryptocurrency-vitaliy-gorbachev-flat-vitaly-gorbachev.png" />
          </div>
          <h2>Anonymous</h2>
          <p>Your profile remains anonymous to everybody. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
            porro, iste accusamus qui, dolore dolorum saepe vitae necessitatibus tempora odio non id reiciendis
            voluptatem quos ab velit magnam, corrupti atque!</p>
        </div>

        <div class="feature col">
          <div
            class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <img src="https://img.icons8.com/stickers/40/000000/thumbs-up-down.png"/>
          </div>
          <h2>Reaction</h2>
          <p>"Like" and "Dislike" feature is now available on post. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Nobis repellendus aspernatur quas, perferendis voluptatum minus! Natus voluptatum adipisci officia
            veritatis exercitationem ducimus aut error dolores, non.</p>
        </div>

      </div>
    </div>
  </main>
</body>

</html>