<%- include('partials/header') %>

<body style="padding: 3% 0% ; height: auto;">
  <div class="container">

      <div class="row  d-flex justify-content-center">

          <div class="col-12">

              <div class="headings d-flex justify-content-between align-items-center mb-3">
                  <h2 class="text-white">You've Discovered Secrets!!</h2>

                  <div>
                      <a id="plusbtn" type="button" href="/submit" class="btn btn-primary btn-sm shadow"><i
                              class="fa-solid fa-plus"></i></a>
                      <a id="exitbtn" type="button" href="/logout" class="btn btn-danger btn-sm shadow"><i
                              class="fa-solid fa-arrow-right-from-bracket"></i></a>
                  </div>

              </div>

          </div>

          <div class="col-12">

              <% FOUND_USERS.forEach(function(users){ %>
                  <% users.secrets.forEach(function(secrets){ %>
                    
                      <div class="card p-3 ">

                          <div class="d-flex justify-content-between align-items-center">
      
                              <div class="user d-flex flex-row align-items-center">
                                    <span>
                                        <h3 class="font-weight-bold"><small class="font-weight-bold text-primary"><i class="fa-solid fa-user">&nbsp;</i>Anonymous_35&nbsp;</small><%= secrets %></h3>
                                    </span>
                              </div>
      
                              <div style="display: flex ;">
                                  <i class="fa-regular fa-thumbs-up fa-lg text-muted"></i>
                                  <i class="fa-regular fa-thumbs-down fa-lg text-muted"></i>
                              </div>
      
                          </div>
                      </div>

                  <% }); %>
                <% }); %>

          </div>
      </div>
  </div>
 
</body>

<%- include('partials/footer') %>
